<!-- Index HTML file -->

<!-- Paginate our places collection -->
<%= will_paginate @places, class: 'digg_pagination' %>

<!-- Stub: List out the entries in the database -->
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <br />
    <i><%= place.address %></i> <br /><br />
    <p><%= place.description %></p> <br />

    <!-- display the email of a user if present -->
    <% if place.user.present? %>
      <small> <%= place.user.email %> </small>
    <% end %>
  </div>
<% end %>